.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  display: flex;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: font-size 0.2s;
  border-radius: 0.5rem;
  backdrop-filter: blur(15px);
}

.nav-links a:hover {
  font-size: 20px;
}

.nav-links a.active {
  background-color: rgba(255, 0, 0, 0.65);
  color: white;
}

.logo {
  max-height: 100%;
}

.logo img {
  padding: 5px;
  width: 88px;
  height: 100%;
}

.navbar {
  min-width: 100% !important;
  background-color: #880000a1;
  color: #fff;
  position: fixed !important;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
